:root {
    --bcolor: #466397;
    --margin: 0px 10px 0px 15px;
}

body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: rgb(151, 21, 173);
}

#wrapper {
    position: relative;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    padding-top: 10px;
}

p, h3 {
font-size: calc(10px + 1vw);
}

.content {
    width: calc(100% - 20px);
    margin-left: 10px; 
    text-align: center;
    
}

.content__block1 {
    min-height: calc(50vh - 80px);
    border: 1px solid black;
    background-color: var(--bcolor);
}

.content__block2 {
    min-height: calc(50vh - 80px);
    border: 1px solid black;
    background-color: var(--bcolor);
}

.content__sidebar {
    width: calc(100% - 20px);
    min-height: calc(10vh - 40px);
    margin: var(--margin);
    border: 1px solid black;
    text-align: left;
    padding-left: 10px;
}

@media (min-width: 580px) {
    
    .content {
    width: calc(65% - 20px);
    min-height: calc(100vh - 80px);
    display: inline-block;
    vertical-align: middle;
    }
    
    .content__block1 {
    min-height: calc(50vh - 40px);
    margin: -5px;
    }

    .content__block2 {
    min-height: calc(50vh - 40px);
    }
    
   .content__sidebar {
    width: calc(35% - 20px);
    min-height: calc(100vh - 80px);
    display: inline-block;
    vertical-align: middle;
    margin: var(--margin);
    }
}        
    
@media screen and (min-width: 1024px) {
    
    .content__block1 {
    min-height: calc(100vh - 80px);
    min-width: calc(50% - 20px);
    display: inline-block;
    vertical-align: middle;
    }

    .content__block2 {
    min-height: calc(100vh - 80px);
    min-width: calc(50% - 20px);
    display: inline-block;
    vertical-align: middle;
    }
    
   .content__sidebar {
    width: calc(35% - 20px);
    min-height: calc(100vh - 80px);
    margin: 0px;
    }
}  
